﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";


<h1>This is Login page</h1><form action="/home/login" method="post">
    <div>
        <h3>Username</h3>
        <input type="text" name="username" value="" />
    </div>
    <div>
        <h3>Password</h3>
        <input type="password" name="password" value="" />
    </div>
    <button type="submit">Loginr</button>
</form>

<!--
 <form action = "/home/googlesignin" method = "post">
    <input type="submit" value="GOOGLE" />
</form >
    -->
    }
