﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    <h1>This is Main Page</h1>

    <form action="/home/register" method="post">
        <div>
            <h3>User name</h3>
        <input type="text" name="username" value="" />
        </div>
        <div>
            <h3>Password</h3>
        <input type="text" name="password" value="" />
        </div>
        <h3>email</h3>
        <div>
       <input type="text" name="email" value="" />
        </div>
        <div>
            <h3>Date of Birth</h3>
            <input type="date" name="date of birth" value="" />
        </div>
        <button type="submit">Register</button>
    </form>
}
